$headline-color: #93003A;
$tab-nav-color: #ff8ea9;

.context-container {

  h2, h3 {
    color: $headline-color;
    margin: 0 0 10px 0;
  }

  .tab-nav {
    color: #3182ce;
  }

  .tab-nav.active {
    color: black;
  }
}