@import './tailwind.scss';

/* Fonts */
$txt-main-font: 'Lato', sans-serif;
$txt-headline-font: 'Merriweather', serif;
$txt-floating-size: 16px;

$col-background: white;

body {
  font-family: $txt-main-font;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $col-background;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.nav {
  margin-right: 15px;
}

.chart.show {
  //TODO refactor this to use tailwind visible class?
  display: block;
}

.chart.hide {
  //TODO refactor this to use tailwind invisible class?
  display: none;
}

//TODO image width height for resolution 1920x1080 -> 400x270 ??
//$img-width: 400px;
//$img-height: 270px;

$img-width: 470px;
$img-height: 317px;

.image.layout {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: $img-width;
 height: $img-height;
 max-width: $img-width;
 min-width: $img-width;
 max-height: $img-height;
 min-height: $img-height;
}

.chart-nav-btn.active {
  color: white;
  background-color: #2b6cb0;
}

//TODO
#charts-content {
  position: relative;
}

#controls-container {
  border: 1px solid #ccc;
  border-radius: 16px;
}

#toggle-control {
  position:absolute;
  top: 15px;
  right: 10px;

  img:hover {
    background-color: #e6e6e6;
  }
}