@import 'tailwind';

/* Fonts */
$txt-main-font: 'Lato', sans-serif;
$txt-headline-font: 'Merriweather', serif;
$txt-floating-size: 16px;

$col-background: white;

body {
  font-family: $txt-main-font;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $col-background;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.nav {
  margin-right: 15px;
}

.chart.show {
  display: block;
}

.chart.hide {
  display: none;
}

.image.layout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.button.day {
  margin: 0 10px 0 10px;
}