$map-img-width: 470px;
$map-img-height: 317px;

.map-image-layout {
  display: block;
  width: $map-img-width;
  height: $map-img-height;
  max-width: $map-img-width;
  min-width: $map-img-width;
  max-height: $map-img-height;
  min-height: $map-img-height;
}

.chart-nav-btn.active {
  color: white;
  background-color: #2b6cb0;
}

#charts-content {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#toggle-control {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  img:hover {
    background-color: #e6e6e6;
  }
}